.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.nav {
  background-color: #333; 
  color: white;
  padding: 1rem;
  width: 100%; 
  text-align: center;
}
.nav button {
  display: flex;
  justify-content: flex-end;
}

.todo {
  margin: 2rem 0;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 600px;
}

.todo h1 {
  margin-bottom: 1rem;
  text-align: center;
  font-size: 40px;
}

.todo > div {
  margin-top: 0.5rem;
}
.task-list {
  width: 80%;
  max-width: 600px;
  display: flex;
  justify-content: space-between;
}
.list {
  display: flex;
  gap: 1rem;
}


.tasks {
  font-size: 30px;
}
.check {
  cursor: pointer;
}
.delete {
  font-size: 24px;
  cursor: pointer;
}
.edit {
  font-size: 24px;
  cursor: pointer;
}
.update {
  display: flex;
  gap: 1rem;
}
