.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.nav {
  background-color: #333; 
  color: white;
  padding: 1rem;
  width: 100%; 
  text-align: center;
}
.nav button {
  display: flex;
  justify-content: flex-end;
}

.todo {
  margin: 2rem 0;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 600px;
}

.todo h1 {
  margin-bottom: 1rem;
  text-align: center;
  font-size: 40px;
}

.todo > div {
  margin-top: 0.5rem;
}
.task-list {
  width: 80%;
  max-width: 600px;
  display: flex;
  justify-content: space-between;
}
.list {
  display: flex;
  gap: 1rem;
}


.tasks {
  font-size: 30px;
}
.check {
  cursor: pointer;
}
.delete {
  font-size: 24px;
  cursor: pointer;
}
.edit {
  font-size: 24px;
  cursor: pointer;
}
.update {
  display: flex;
  gap: 1rem;
}
.edit-in{
  width: 100%; 
  padding: 10px; 
  margin: 10px 0; 
  font-size: 16px;
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box;
}
.up-btn{
  background-color: #4CAF50; /* Green background color */
  color: white; /* White text color */
  padding: 10px 20px; /* Padding for a comfortable click area */
  margin: 10px 0; /* Margin to separate the button from other elements */
  border: none; /* Remove default border */
  border-radius: 4px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  font-size: 16px; /* Font size */
  transition: background-color 0.3s ease;
}
.up-btn:hover{
 background-color: #45a049;
}