.create-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.create-input {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc; 
  border-radius: 5px; 
  margin-right: 0.5rem;
  outline: none;
}

.create-btn {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #007bff; 
  color: white;
  border: none;
  border-radius: 5px; 
  cursor: pointer;
}

.create-btn:hover {
  background-color: #0056b3; 
}